<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="email" placeholder="E-Mail" />
      <mat-error *ngIf="">Please enter a valid E-Mail Address</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" />
      <mat-error *ngIf="">Please enter a valid Password</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
