<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="false" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{post.title}}</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink] = "['/edit', post.id]"> <mat-icon>create</mat-icon>Edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)"><mat-icon>delete</mat-icon> Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]= "totalPosts" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>

<p class="info-text" *ngIf="posts.length <= 0 && !isLoading">No posts yet</p>
